{% load i18n %}
{% trans "Hello" %} {{ user.get_full_name|default:user.username }},

{% trans "You have requested a password reset for your Safari & Bush Retreats account." %}

{% trans "Please click the link below to reset your password:" %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

{% trans "If you did not request this password reset, please ignore this email." %}

{% trans "This link will expire in 24 hours for security reasons." %}

{% trans "Best regards," %}
{% trans "Safari & Bush Retreats Team" %}

---
{% trans "Safari & Bush Retreats" %}
{% trans "Discover the Magic of Tanzania" %}
{{ protocol }}://{{ domain }}