{% extends 'base/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Update Profile" %} - Safari&nbsp;&amp;&nbsp;Bush Retreats{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card border-0 shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">
                        <i class="fas fa-user-edit me-2"></i>{% trans "Update Profile" %}
                    </h4>
                </div>
                <div class="card-body p-5">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}